/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    /* for touch screen */
    touch-action: none;
  }

  body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #111;
    //background: #fff;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  